@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,700&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bgColor:#ffffff ;
    --headerColor:#ebebeb;
    --hrColor:#3a79b7;
    --textColor:#768492;
    --mainTitleColor:#a1aab4;
    --subTitleColor:#A1AAB3;
}

body {
    background-color: var(--bgColor);
    font-family: 'Merriweather','Montserrat',  serif, sans-serif;
    color: #768492;
    position: relative;
}

/***************** to use every section CSS  *****************/

.container {
    width: 100%;
    height: 100%;
    /* height: 300px; */
    /* background-color: rgb(93, 183, 206); */
    margin-bottom: 2rem;
    display: flex;
    gap: 1.2rem;
}

.mainPost p {
    width: 98%;
    font-size: 1.2rem;
    font-weight: 300;   
    color:var(--textColor);
    margin-top: 0.6rem;
    cursor: pointer;
}

.mainPost-1 img {
    width: 100%;
}

ul {
    list-style: none;
}

.Title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--headerColor);
    padding-bottom: 0.5rem;
}

.Title h2:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

p:hover {
    filter: brightness(0.8);
}

img {
    background-size: cover;
    cursor: pointer;
}

img:hover {
    filter: brightness(0.9);
}

/****************** header start  **************************/

header {
    width: 100%;
    height: 11rem;
    background-color: var(--headerColor);
    border-top: 1px solid var(--hrColor);
    padding: 20px 20px 0 20px;

    display: flex;
    justify-content: space-between;

}

.menu, .media  {
    color: var(--textColor);
    width: 100px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .bx {
    font-size: 25px;
    cursor: pointer;
} 

.menu .bx:hover {
    color: #A1AAB3;
}

.varLine {
    width: 2px;
    background-color: rgb(248, 248, 248);
    height: 40px;
}

.logo img {
    margin-top: 2rem;
    width: 200px;
    height: 80px;
    cursor: pointer;
}

.logo img:hover {
    filter: brightness(0.9);
}

.media {
    margin-right: 2rem;
}

.media i:hover {
    color: var(--hrColor);
    cursor: pointer;
}

/**************** nav bar start  *********************/
.nav {
    height: 58px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 80%;
    height: 100%;
    border-bottom: 2px solid #f3f3f3;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.navbar li a {
    /* margin-right: 2rem; */
    color: var(--textColor);
    font-weight: 500;
    font-family:'Montserrat';
}

.navbar li a:hover {
    color: var(--hrColor);
}

/**************** content start  *********************/
.content {
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.ukraine, .world-news, .telling-america-story, .china-news {
    /* flex-grow: 3; */
    width: 65%;
}

.north-korea, .headlines, .press-freedom, .iran-news {
    /* flex-grow: 1; */
    width: 35%;
}

/* testing  */

/* .world-news, .telling-america-story, .china-news  {
    background-color: #3a79b7ab;
    height: 230px;
}

.headlines, .press-freedom, .iran-news {
    background-color: rgba(209, 14, 14, 0.507);
    height: 230px;
    width: 100%;
} */

/* .ukraine, .world-news, .telling-america-story, .china-news  {
    width:70%;
    height: 100%;
    background-color: #4cf0f0;
} */

/* .north-korea, .headlines, .press-freedom, .iran-news {
    width: 30%;
    height: 100%;
    background-color: #A1AAB3;
} */


/**************** ukraine *********************/
.bx {
    font-size: 2rem;
    color: var(--mainTitleColor);
}

.post {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.mainPost {
    max-height: 100%;
    width: 100%;
}

.mainPost-1 {
    width: 100%;
}


.ukraine .mainPost-1 p {
    width: 60%;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

.mainPost-2 {
    padding: 2rem 2rem 2rem 0;
    display: flex;
    gap: 0.5rem;
}

.mainPost-2 img, .subPostList img {
    width: 142px;
    height: 80px;
}

.mainPost-2 p {
    width: 45%;
    font-size: 0.78rem;
    cursor: pointer;
}

.subPost {
    height: 100%;
    /* width: 100%; */
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subPostList {
    display: flex;
    gap: 1rem;
    position: relative;

}

.subPostList .audio {
    position: absolute;
    top: 6px;
    z-index: 1000;
    width: 85px;
    height: 20px;
    color: rgb(54, 52, 52);
}

.subPostList p {
    font-size: 0.9rem;
    cursor: pointer;
}

.rightPost img {
    width:100%;
    margin-top: 1rem;
    background-size: cover;
}

/****************** north korea  ***************/

.north-korea {
    /* width: 100%;
    height: 100%; */
}

.north-korea .Title h3 {
    margin-bottom: 0.6rem;
}

/* .north-korea .rightPost img {
    max-width:100%;
    margin-top: 1rem;
} */

.northKoreaText h3 {
    width: 60%;
    font-size: 1.5rem;
    margin-top: 0.4rem;
    font-weight: 200;
    color: #3d3e3f;
    cursor: pointer;
}

.northKoreaText p {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
}


/***************** world news  ********************/

.headlines {
    margin-top: 0.6rem;
    background-color: #f3f3f3;
    padding: 1.5rem;
}

.headlines .Title {
    margin-bottom: 0.4rem;
}
.rightPost ul li {
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--headerColor);
    font-size: 0.9rem;
    font-weight: 100;
    cursor: pointer;
}

.rightPost ul li:hover {
    color: var(--hrColor);
}

/************ press freedom  ***************/

.press-freedom {
    background-color: #f3f3f3;
    padding: 1.5rem;
}

.press-freedom p {
    margin-top: 0.6rem;
    font-size: 1.2rem;
    width: 90%;
    cursor: pointer;
}

/* iran news  */
.iran-news .rightPost p {
    width: 90%;
    cursor: pointer;
}

/********* health enviroment science  ************/

.threePost .mainPost img {
    width:100%;
    height: 197px;
    margin-top: 1rem;
    background-size: cover;
}

/*************** video  ***************************/
.video {
    overflow: hidden;
    background-color: #222f3a;
    width: 100%;
    padding-bottom: 1rem;

}

.video .Title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.5rem;
    width: 95%;
    border-bottom: 1px solid var(--headerColor);
    margin: 1.2rem 1.2rem 0.4rem 2rem;
}

.video .Title h2 {
    color: #fff;
}

.video .Title h2:hover {
    color: var(--hrColor);
}

.postVideo .mainPost {
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
}

.postVideo .mainPost .mainPost-1 {
    width: 20rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    position: relative;
}

.postVideo .mainPost .mainPost-1 .bx {
    position: absolute;
    top: 8px;
    left: 15px;
    padding: 0.3rem;
    background-color: #00000098;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1000;
}

.postVideo .mainPost .mainPost-1 .bx:hover {
    color:var(--headerColor);
}

.postVideo .mainPost-1 p {
    color: #fff;
    font-weight: 100;
    font-size: 1rem;
}

.postVideo .mainPost-1 img {
    width: 20rem;
    /* overflow-x: scroll; */
}

/***************** arrow container  ***************/
.arrowContainer {
    width: 100%;
    height: 2rem;
    /* background-color: red; */
    /* margin-bottom: 0rem; */
    position: relative;
    transition: 0.3s;
}

.arrowContainer .bx {
    position: absolute;
    transform: translateY(-3rem);
    background-color: #fff;
    padding: 0.2rem 0.3rem;
    font-size: 3rem;
    box-shadow: -2px 3px 4px var(--mainTitleColor);
    cursor: pointer;
}

.arrowContainer .bx:hover {
    filter: brightness(0.98);
    box-shadow: -3px 3px 4px var(--mainTitleColor);
}

.arrowContainer .bx-chevron-left {
    right: 8rem;
}

.arrowContainer .bx-chevron-right {
    right: 2rem;
}

/********************* content info  *****************/
.contentInfo {
    width: 100%;
    /* height: 300px; */
    padding: 0.5rem;
    padding-bottom: 2rem;
    background-color: #3a79b7;
    /* margin-bottom: 3rem; */
}

.contentRow {
    width: 100%;
    padding: 0.2rem;
    padding-bottom: 2rem;
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--mainTitleColor) ;
}


.contentRow:last-child {
    border-bottom: 0px solid var(--mainTitleColor) ;
}

.about {
    margin-right: 5rem;
}

.contentInfo .aboutItem {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--headerColor);
    cursor: pointer;
    margin-right: 6rem;
}

.contentInfo .more .aboutItem {
    flex-direction: row;
}

.contentInfo .aboutItem .aboutItem_1 .aboutList {
    margin-bottom: 1.4rem;
}

.contentInfo h2 {
    color: #89b1d8;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
}

.contentInfo ul li {
    color: var(--headerColor);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

.contentInfo ul li:hover {
    text-decoration: underline;
}

.contentInfo .socialMedia {
    margin-left: 6rem;
}

.contentInfo .socialMedia ul {
    display: flex;
    transition: 0.3s;
}

.contentInfo .socialMedia ul li {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.contentInfo .socialMedia ul li i {
    font-size: 25px;
    color: var(--textColor);
}

.contentInfo .socialMedia ul li:hover {
    filter: brightness(0.9);
}

.more {
    display: flex;
    width: 100%;
}

.more ul {
    width: 100%;
    margin-right: 3rem;
}

.contentRow .contentInfoAbout > i , .contentRow .country > i, .contentRow .about > i {
    display: none;
}


/************** responsive media  ***************/

@media (max-width:991px) {

    .media {
        position: fixed;
        flex: 100%;
        justify-content: space-evenly;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-right: 0;
        background-color: #e3e7eb;
        z-index: 1500;
    }

    header {
        height: 64px;
        padding:0;
        justify-content: space-around;
        align-items: center;
    }

     .menu .bx-menu {
        position: absolute;
        right: 2rem;
    }

    .logo img {
        width: 100px;
        height: 40px;
        margin-top: 0;
        text-align: center;
        position: absolute;
        left: 40%;
        top: 0.8rem;    
    }

    .search {
        position: fixed;
        bottom: 0.6rem;
        right: 4rem;
        z-index:2000;
    }

    .varLine {
        display: none;
    }

    .nav {
        font-size: 0.65rem;
    }

    /*************** content  *********************/
    .content {
        padding: 0.6rem;
    }

    .fa-language {
        order: 1;
    }

    .container {
        flex-wrap: wrap;
    }
    .ukraine, .world-news, .telling-america-story, .china-news {
        padding: 0 4vw;
        flex: 100%;
    }

    .north-korea, .headlines, .press-freedom, .iran-news {
        flex: 100%;
    }

    .mainPost-1 p {
        width: 100%;
        font-weight: 200;
    }

    .subPostList img, .mainPost-2 img  {
        width: 100px;
        height: 65px;
    }

    .subPostList p {
        font-size:0.87rem;
    }

    /* world-news  */
    .headLineMenu {
        columns: 2 300px;
    }

    /* threePost */

    .threePost .mainPost img {
        height: 100%;
    }

    /* video  */
    .arrowContainer .bx {
        transform: translateY(-2.6rem);

    }

    /* content info  */
    
    .contentInfo .contentRow {
        display: flex;
        flex-wrap: wrap;
    }


    .contentInfo .aboutItem {
        flex-direction: row;
        margin-right: 0;
        width: 100%;
    }

    .contentInfo .aboutItem .aboutList {
        margin-right: 8rem;
        font-size: 15px;
    }

    .contentInfo .more .aboutItem {
        flex-direction: column;
    }

    .socialMedia {
        flex: 100%;
        order: 1;
        border-bottom: 1px solid var(--mainTitleColor);
        margin-bottom: 1rem;
    }

    .about {
        flex: 100%;
        order: 2;
        /* border-bottom: 1px solid var(--mainTitleColor); */
        margin-bottom: 1rem;

    }

    .contentInfoAbout {
        order: 2;
        width: 100%;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--mainTitleColor);
    }

    ul {
        margin-bottom: 1rem;
    }

    .contentInfo ul {

    }

    .country {
        flex: 100%;
        order: 3;
        /* border-bottom: 1px solid var(--mainTitleColor); */
        margin-bottom: 1rem;
    }

    /* contact info  */
    .more ul {
        margin-right: 0;
    }

    .about {
        margin-right: 0;
    }

    .contentInfo .socialMedia {
        margin-left:0;
    }

}

@media (max-width:699px) {
    .navbar {
        white-space: nowrap;
        justify-content: flex-start;
        /* overflow-y:hidden; */
        overflow-x: scroll;
    }

    .search {
        right: 2rem;
    }

    .container {
        padding: 0;
    }

    .post {
        gap: 1.4rem;
    }


    .ukraine .mainPost-1 p {
        width: 100%;
    }
}

@media (max-width:639px) {
    .post {
        flex-direction: column;
    }

    .subPost {
        margin-top: 0;
    }


    .subPostList img, .mainPost-2 img  {
        width: 194px;
        height: 109px;
    }


    .mainPost-2, .subPostList {
        /* margin-top: 0.8rem; */
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid var(--headerColor);
        border-bottom: 1px solid var(--headerColor);
    }

    .mainPost-2 {
        margin-top: 0.8rem;
        margin-bottom: 0;
        width: 100%;
        max-height: 100%;
    }

    .mainPost-2 p {
        width: 100%;
    }

    .subPostList .audio {
        top: 14px;
    }

    /************** footer content info  ******************/
    /* about  */
    .contentInfo .aboutItem {
        display: none;
        margin: 0;
    }

    .contentRow {
        /* height: 12rem; */
        margin: 0px;
        padding: 0;
        font-size: 0.6rem;
    }

    .contentRow:last-child {
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--mainTitleColor);
    }

    .contentInfo h2 {
        margin: 1rem;
        font-weight: 300;
        color: var(--headerColor);
    }

    .contentInfoAbout {
        margin-bottom: 0;
    }

    .contentRow .country {
        /* margin-bottom: 1rem; */
        /* height: 1rem; */
        padding: 0;
        margin: 0;
    }

    .contentRow .country h2 {
        padding: 0;
        margin: 1rem;
    }

    .socialMedia {
        margin-bottom: 0;
    }
    .about {
        padding: 0;
        margin: 0;
    }

    .more {
        padding: 0;
        margin: 0;
    }

    .contentRow .contentInfoAbout , .contentRow .country, .contentRow .about {
        position: relative;
    }

    .contentRow .contentInfoAbout > i , .contentRow .country > i, .contentRow .about > i {
        display: inline-block;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        color: #fff;

    }
}

@media (max-width:399px) {
    .mainPost-2, .subPostList {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .search {
        right: 1rem;
    }

    .logo img {
        left: 20%;
    }

    .contentInfo .socialMedia ul {
        display: flex;
        flex-wrap: wrap;

    }

    .contentInfo .socialMedia ul li {
        width: 30px;
        height: 30px;
    }

    .contentInfo .socialMedia ul li i {
        font-size: 16px;
    }

    .arrowContainer {
        height: 2rem;
    }

    .arrowContainer .bx {
        font-size: 0.8rem;
    }

    .arrowContainer .bx-chevron-left {
        right: 5rem;
    }

    .arrowContainer .bx-chevron-right {
        right: 1rem;
    }

    .media i:first-child {
        margin-right: 2rem;
    }
    
    .media i {
        font-size: 0.8rem;

    }

    .menu .bx {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    } 
}


@media (max-width:163px) {
    .media {
        display: none;
    }

    main .content {
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 16px;
    }

    .northKoreaText h3 {
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }
}

